.container-header {
    max-width: 1392px;
    margin: 0 auto;
    padding: 0 23.5px;
}

.container {
    max-width: 1394px;
    margin: 0 auto;
    padding: 0 21.5px;
}

.container-sc {
    max-width: 1102px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-third {
    max-width: 1378px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-fourth {
    max-width: 1247px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-fifth {
    max-width: 1395px;
    margin: 0 auto;
    padding: 0 22px;
}