:root {

    /* -----color----- */
    --colorwhite: #FFF;
    --colorblack: #000;
    --color1: #FF8000;
    --color2: #dc143c;
    --color3: #FFFFFF99;
    --color4: #3D3D40;

    /* -----background-color----- */
    --colorbackground: #353535;
    --colorbackground1: #DBDAD8;

    /* -----font-family----- */
    --font-family1: "Be Vietnam Pro", sans-serif;
    --font-family2: "Space Grotesk", sans-serif;
    --font-family3: "Inter", sans-serif;
    --font-family4: "Open Sans", sans-serif;
}